.main-body {
  width: 550px;
  height: 459px;
  background-color: #282D35;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  padding-left: 25px;
  padding-top: 50px;
  margin: 0;
}

ul {
  padding-left: 70px;
}

li {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  max-width: 400px;
  line-height: 19px;
  padding-block: 10px;
}

li::marker {
  color: #61DAFB; /* Establece el color de la viñeta */
  font-size: 1.2em; /* Ajusta el tamaño de la viñeta */
}

.logo-agua {
  color: gainsboro;
  font-size: 300px;
  position: relative;
  bottom: 200px;
  left: 200px;
  color: rgba(255, 255, 255, 0.4); 
}