.meme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
  font-family: "Karla", sans-serif;
}

.meme-header--image {
  height: 100%;
  margin-right: 6px;
}

.meme-header--project {
  font-size: 12px;
  font-weight: 500;
  margin-right: 6px;
}
